* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1440px;
    font-size: 18px;
    font-family: sans-serif;
    max-width: 1500px;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}

.link {
    text-decoration: none;
    color: #008CF0;
}

/* Шапка */

.name__text {
    margin-bottom: 30px;
}

.header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -130px;
    background-color: #f3622338;
}

.header__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__main {
    margin-top: 25px;
}

.header__img {
    margin-right: 40px;
}

.header__img__box {
    position: relative;
}

.header__img__three {
    position: absolute;

}

.headerseparator {
    border-bottom: 1px solid #000000;
    margin-top: 25px;
}

/* Хлебные крошки */

.bread {
    color: #008CF0;
    font-size: 16px;
}

.breadcrums {
    margin-top: 130px;
    margin-bottom: 8px;
}

/* Цвет товара */

.colorproduct__text {
    margin-bottom: 15px;
}


.btnimg {
    border: 1px solid darkgray;
    border-radius: 4px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
}


.imgsmall {
    height: 60px;
    padding: 10px 24px;
}


.btnimg:hover {
    background-color: #F2F2F2
}

.btnimg:focus {
    border: solid #F36223;
    background-color: transparent;
}

.btnimg:active {
    border: solid #A93A09;
    background-color: transparent;
}



/* Большие картинки */

.name__iphonebig {
    display: flex;
    justify-content: space-between;
}

.imgbig {
    height: 387px;
    margin-bottom: 30px;
}


/* Конфигурация памяти */
.memoryconfiguration__text {
    margin-bottom: 15px;
}

.memoryconfiguration__select {
    display: flex;
    gap: 10px;
}

.memoryconfiguration__button {
    padding: 10px 20px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.memoryconfiguration__button:hover {
    background-color: #F2F2F2
}

.memoryconfiguration__button:focus {
    background-color: transparent;
    border: solid #F36223;
}

.memoryconfiguration__button:active {
    background-color: transparent;
    border: solid #A93A09;
}


.memoryconfiguration {
    margin-top: 30px;
}

/* характеристики товара */

.productсharacteristics__list {
    padding-left: 15px;
}

.lilist::marker {
    color: darkgrey;
}

.productсharacteristics {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Описание */

.p {
    margin-bottom: 16px;
}

.description__text {
    margin-bottom: 15px;
    margin-top: 30px;
}

.page__header {
    width: 880px;
}

/* флекс */

.page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Акция и кнопка */

.beautiful__like {
    margin-bottom: -10px;
    margin-left: 220px;
    width: 34px;
    height: 34px;
    fill: #888888;
}


.beautiful__like:hover {
    fill: #F36223;
}

.beautiful__like:active {
    fill: #A93A09;
}

.button__add::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./resources/homework-15/prod.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-position: center center;
    margin-right: 17px;
    margin-bottom: -3px;

}


.page__secondary {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.oldprise {
    font-size: 16px;
    color: #888888;
    text-decoration: line-through;
}

.eight {
    background: #F36223;
    border-radius: 500px;
    font-size: 16px;
    color: #EEEEEE;
    border: 1px;
    width: 40px;
    height: 21px;
    margin-left: 10px;
}

.newprise {
    font-size: 32px;
    margin-top: 14px;
}

.beautiful {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 275px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}


.content {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.content__text1 {
    margin-bottom: 10px;
}

.button__add {
    background: #F36223;
    border-radius: 4px;
    font-size: 20px;
    color: #EEEEEE;
    width: 380px;
    height: 64px;
    border: 1px;
    cursor: pointer;
}

.button__add:hover {
    background-color: #DA4A0C;
}

.button__add:active {
    background-color: #A93A09;
}

.frame__first {
    border: 1px solid #090808;
    width: 420px;
    height: 300px;
    margin-bottom: 10px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.frame__second {
    border: 1px solid #090808;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

.frame__advertising {
    font-size: 14px;
    color: #888888;
}

.app {
    max-width: 917.61px;
    margin: 0;
}

.review__section__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.review__section__list {
    margin-top: 25px;
    margin-bottom: 40px;
}

.review__section__wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.review_section__list {
    margin-top: 40px;
}

.review__section__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.review__section__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.review__section__button {
    width: 168px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 0px 20px;
}

.review {
    display: flex;
    gap: 30px;
}

.review__photo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.review__ratting {
    width: 150px;
    height: 30px;
}

.review__ratting1 {
    width: 199px;
    height: 30px;
    margin-top: 10px;
}

.review__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__ratting {
    margin-top: 10px;
}

.review__parameters {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;

}

.separator {
    border-top: 1px solid #C4C4C4;
    border-top-style: dotted;
    width: 750px;
    margin-left: 170px;
}

/* таблица */

.table {
    margin-bottom: 55px;
}

.table__home__body__iphone11:hover {
    background: #F2F2F2;
}

.table__home__body__iphone12:hover {
    background: #F2F2F2;
}

.table__home__body__iphone13:hover {
    background: #F2F2F2;
}

.table__text {
    margin-bottom: 15px;
    size: 16px;
}

.table__home {
    border: 1px solid #888888;
}

.table__home__head__function_model {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_weight {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_height {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_width {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_thickness {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_chip {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_memory {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table__home__head__function_battery {
    padding: 10px;
    border-bottom: 1px solid #888888;
}

.table__home__body__iphone11_model {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_weight {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_height {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_width {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_thickness {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_chip {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_memory {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone11_battery {
    padding: 10px;
    text-align: center;
}


.table__home__body__iphone12_model {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_height {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_weight {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_width {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_thickness {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_chip {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}


.table__home__body__iphone12_memory {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone12_battery {
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_model {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_height {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_weight {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_width {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_thickness {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_chip {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_memory {
    border-right: 1px solid #888888;
    padding: 10px;
    text-align: center;
}

.table__home__body__iphone13_battery {
    padding: 10px;
    text-align: center;
}

/* Подвал */

.footer__home {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 50px;
    background: #F2F2F2;
    margin-top: 60px;
    margin-right: -30px;
    margin-left: -30px;
}

.footer__home__first {
    width: 750px;
}

.footer__home__second {
    align-self: center;
}

.footer__home__first_head {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

/* Форма */

.form {
    margin-top: 60px;
    width: 750px;
    margin-left: 170px;
}

.fieldset {
    border: none;
}

.fieldset__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 15px;
}

.fieldset__first {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fieldset__first__name_meaning {
    width: 495px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px
}

.fieldset__first__grade_meaning {
    width: 180px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px
}

.fieldset__textarea_meaning {
    width: 750px;
    height: 190px;
    resize: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
}

.fieldset__first__name_meaning:hover {
    border: 1px solid #000000;
}

.fieldset__first__grade_meaning:hover {
    border: 1px solid #000000;
}

.fieldset__tectarea_meaning:hover {
    border: 1px solid #000000;
}

.fieldset__first__name_meaning:hover {
    border: 1px solid #000000;
}

.fieldset__first__grade_meaning:hover {
    border: 1px solid #000000;
}

.fieldset__tectarea_meaning:active {
    border: 1px solid #000000;
}

.fieldset_button {
    width: 177px;
    height: 39px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
}

.fieldset_button:hover {
    background: #DA4A0C;
}



@media (max-width: 1499px) {

    .header{
        margin: 0 auto;
        width: 990px;
        max-width: 1024px;
        margin-top: -130px;
    }

    body {
        margin: 0 auto;
        width: 990px;
        max-width: 1024px;
    }

    .imgbig {
        height: 272px;
    }

    .table {
        display: none;
    }

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .review__ratting {
        width: 100px;
        height: 20px;
    }

    .review__ratting1 {
        width: 140px;
        height: 20px;
    }

    .form {
        margin-left: 0px;
    }

    .page__header {
        width: 490px;
        margin-right: 40px;
    }

    .imgsmall {
        height: 30px;
    }
}