body {
    margin: 0 auto;
    width: 1440px;
    font-size: 18px;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #c00;
}

button {
    padding: 8px 12px;
}

p {

    margin-bottom: 16px;
}

ul {
    padding: 0;
    margin-left: 20px;
}

iframe {
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
}

table {
    border-width: 2px;
    border-style: groove;
}

td,
th {
    border-width: 2px;
    border-style: groove;
}

.review {
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 51px;
    gap: 10px;
}

.h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.breadcrums {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 50px;
    gap: 4px;
    height: 19px;
}

.breadcrums_etc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Aqua */

    color: #008CF0;
}



.productname {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px 20px;
    gap: 10px;
}

.productname_1 {
    width: 539px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    /* Black */

    color: #000000;
}

.productphoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    gap: 10px;


}

.containerwithfeatures {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}

.allcharacteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.productcolor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.productcolor_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    /* Black */

    color: #000000;
}

.productcolor_box {
    /* Изображение с цветом */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;


    /* Dark gray */

    border: 1px solid #888888;
    border-radius: 4px;

}

.memoryconfiguration {
    width: 298px;
    height: 73px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

}

.important {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

    width: 420px;
    height: 275px;

    /* White */

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.reclame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 420px;
    height: 642px;
}

.description {
    width: 880px;
    height: 421px;
}

aside {
    float: right;
}